@page
@model Practice_01.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<p>Enter Your Name</p>
<form method="post">

    <div asp-validation-summary="All"></div>
    <div>
        Name:<input asp-for="Customer.Name" />
        <input type="submit" />
    </div>

</form>